In [1]:
def avg(a, b, c)-> int:
  sum = a + b + c
  avg = sum / 3
  return avg

output = avg(10,10,10)
print(output)

10.0

In [2]:
# Built in function
print("sheikh", end= " ")  # last two lines print in same line

print("Hamza")

# print
# len()
# type()
# range()

sheikh Hamza

In [3]:
# default parameter
# def nums(b,a=34):
#   print(a*b)
#   return a*b

# nums(32)

def nums(a=2,b): # throw me an error because (first non-default arguments then default arguments)
#  default parameter always give from last
  print(a*b)
  return a*b

nums(32)

SyntaxError: non-default argument follows default argument (<ipython-input-3-6f3007ad8bf1>, line 8)

In [4]:
# ques 1
cities = ["karachi","islamabad","lahore","multan","peshawar"]
def printLen(list):
  print(len(list))

printLen(cities)

5

In [5]:
# ques 2
names = ["hamza","waleed","asad","tariq","sharib"]

def print_list(list):
  for item in list:
    print(item, end=" ")

print_list(names)

hamza waleed asad tariq sharib

In [6]:
# ques 03

def calFac(n):
  fact = 1
  for i in range(1,n+1):
    fact = fact * i
  print(fact)
calFac(5)

120

In [7]:
# ques 04
def convert(USD):
  pkr =  USD * 278
  print( USD , "USD = " , pkr, "PKR ")

convert(563)

563 USD =  156514 PKR

In [8]:
#  ques 05
def num(n):
  if(n%2 == 0):
    print("even")
  else:
    print("odd")

num(264533)

odd

# **Recursion function**

In [9]:
def show(n):
  if n == 3: # base case
    return
  print(n)
  show(n-1)
  print("end")

show(5)

5
4
end
end

In [10]:
def fact(n):
  if(n == 1 or n == 0) :
    return 1
  return n * fact(n-1)

fact(5)

120

In [11]:
# ques 1
def calc_sum(n):
  if(n == 1):
    return 1
  return n + calc_sum(n-1)

calc_sum(10)
#

55

In [12]:
def calc_sum(n):
  if(n == 0):
    return 0
  return calc_sum(n-1) + n

print(calc_sum(10))

55

In [13]:
def print_list(list,idx=0):
  if idx == len(list):
    return
  print(list[idx])
  print_list(list,idx+1)

names = ["hamza","waleed","asad","tariq","sharib"]
print_list(names)

hamza
waleed
asad
tariq
sharib